<br>
<h3><span class="top-button"><a href="/">&#60 h o m e </a></span></h3>
<div class="form">

<%= form_for @practice do |f| %>
 <%= f.label :title %>
 <%= f.text_field :title %>
 <%= f.label :target %>
 <%= f.text_field :target %>
 <%= f.label :image %>
 <%= f.text_field :image %>
 <%= f.submit %>
<% end %>

</div>
