<br>
<div class="form">
<a href="/">home</a>

<%= form_for @practice do |f| %>
 <%= f.label :title %>
 <%= f.text_field :title %>
 <%= f.label :target %>
 <%= f.text_field :target %>
 <%= f.label :image %>
 <%= f.text_field :image %>
 <%= f.submit %>
<% end %>

</div>
