<br>
<h3><span class="top-button"><a href="/">&#60 h o m e </a></span></h3>
<div class="form">

<%= form_for @practice do |f| %>
<%= value="image" %>
<%= f.select :image, [['books', 'http://i.imgur.com/zpFCaZb.gif'],['mindfulness','http://i.imgur.com/PLAS8Jv.gif?3'],['boxing', 'http://i.imgur.com/xzjft73.gif?3']] %><br>
 <%= value="title" %>
 <%= f.text_field :title %><br>
 <%= value="target" %>
 <%= f.text_field :target %><br><br>
 <%= f.submit value="add practice" %>
<% end %>

</div>
