<br>
<h3><span class="top-button"><a href="/">&#60 b a c k </a></span></h3>
<div class="form">

<div class="instructions">Select a category and name your practice. A practice can be anything you strive to do, like yoga classes, running, fishing, watching a classic film, or trying a new restaurant.</div>

<%= form_for @practice do |f| %>
<%= value="category" %>
<%= f.select :image, [['mindfulness', 'http://i.imgur.com/k4MwmCr.gif'],['languages','http://i.imgur.com/u2K1SPg.gif'],['books', 'http://i.imgur.com/s08ysrL.gif'],['travel', 'http://i.imgur.com/hGPFD48.gif'],['art','http://i.imgur.com/Qe7oGzP.gif'],['running', 'http://i.imgur.com/MFr3Ebp.gif'],['outdoors','http://i.imgur.com/W5foOMN.gif'],['call your mom','http://i.imgur.com/7OB8VWG.gif'],['sports','http://i.imgur.com/IrD0juY.gif'],['beer','http://i.imgur.com/5tT6s8P.gif'],['movies','http://i.imgur.com/mC0UJkC.gif']] %><br>
 <%= value="practice" %>
 <%= f.text_field :title %><br>
 <!-- <%= value="monthly target" %>
  <%= f.select :target, [['1'],['2'],['3'],['4'],['5']] %> -->
  <br><br>
 <%= f.submit value="add practice" %>
<% end %>

</div>
