<br>
<h3><span class="top-button"><a href="/">&#60 h o m e </a></span></h3>
<div class="form">

<%= form_for @practice do |f| %>
 <%= value="title" %>
 <%= f.text_field :title %><br>
 <%= value="target" %>
 <%= f.text_field :target %><br>
 <%= value="image" %>
 <%= f.text_field :image %><br><br>
 <%= f.submit value="add practice" %>
<% end %>

</div>
