
<h3><span class="top-button"><a href="/">&#60 h o m e </a></span></h3>

<h3>reflections:</h3>
<% @practice.reflections.each do |reflection| %>

  <div class="reflections"<p>
    <%= reflection.note %>
  </p></div>
<% end %>

<%= form_for([@practice, @practice.reflections.build]) do |f| %>
  <p>
    <%= f.text_area :note %>
  </p>
  <p>
    <%= f.submit value="add reflection" %>
  </p>
<% end %>

<%= render partial: "edit" %>


<form action="/practices/<%= @practice.id %>" method="post">
 <input type="hidden" name="_method" value="delete">
 <input class="button-delete" type="submit" value="delete practice">
</form>
