<!-- <h2><%= @practice.title %> <a href="/practices/edit">(edit)</a></h2> -->

<h3><span class="top-button"><a href="/">&#60 h o m e </a></span></h3>

<form action="/practices/<%= @practice.id %>" method="post">
 <input type="hidden" name="_method" value="put">

 <label for="practice[title]">title</label>
 <input name="practice[title]" value="<%= @practice.title %>"><br>

 <label for="practice[target]">target</label>
 <input name="practice[target]" value="<%= @practice.target %>"><br>

 <label for="practice[image]">image</label>
 <input name="practice[image]" value="<%= @practice.image %>"><br><br>

 <input type="submit" value="update" >
</form>

<form action="/practices/<%= @practice.id %>" method="post">
 <input type="hidden" name="_method" value="delete">
 <input class="button-delete" type="submit" value="delete practice">
</form>


<h3>reflections:</h3>
<% @practice.reflections.each do |reflection| %>

  <div class="reflections"<p>
    <%= reflection.note %>
  </p></div>
<% end %>

<%= form_for([@practice, @practice.reflections.build]) do |f| %>
  <p>
    <%= f.text_area :note %>
  </p>
  <p>
    <%= f.submit value="add reflection" %>
  </p>
<% end %>
