<!DOCTYPE html>
<html>
<head>
  <title>Good Morning</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>Good Morning</h1>
   <nav>

     <a href="/">home</a>

     <div class="user-info">
       <% if current_user %>
         Welcome, <%= current_user.email %>
         <%= link_to 'Signout', destroy_user_session_path, :method => :delete %>
       <% else %>
         <%= link_to 'Signup', new_user_registration_path %>
         <%= link_to 'Login', new_user_session_path %>
       <% end %>
     </div>
   </nav>
   <% flash.each do |type, message| %>
     <p class="<%= type %>"><%= message %></p>
   <% end %>

<%= yield %>

</body>
</html>
